In [1]:
import pandas as pd

In [3]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time
import random
import sys

In [4]:
# We create a pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

In [5]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [6]:
groceries["eggs"]

30

In [10]:
# Series - print attributes - shape, ndim and size
print("The shape of the groceries Series datastructure: ", groceries.shape)
print("Number of dimension of the groceries Series datastructure: ", groceries.ndim)
print("The size of the groceries Series datastructures: ", groceries.size)

The shape of the groceries Series datastructure:  (4,)
Number of dimension of the groceries Series datastructure:  1
The size of the groceries Series datastructures:  4

In [11]:
# Value
print(groceries.values)

[30 6 'Yes' 'No']

In [12]:
# Indices
print(groceries.index)

Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [13]:
# Check if value exists in a Series
y = 'bananas'  in groceries

In [14]:
y

False

In [15]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [16]:
groceries[[0,1]]

eggs      30
apples     6
dtype: object

In [19]:
groceries.iloc[[1,0]]

apples     6
eggs      30
dtype: object

In [20]:
groceries.loc[["eggs","apples"]]

eggs      30
apples     6
dtype: object

In [21]:
# dropping values
groceries.drop("apples")

eggs      30
milk     Yes
bread     No
dtype: object

In [22]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [23]:
groceries.drop("apples", inplace=True)

In [24]:
groceries

eggs      30
milk     Yes
bread     No
dtype: object

In [25]:
# Arithmetic operations in series

In [26]:
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

In [27]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [30]:
print(fruits.values)

[10  6  3]

In [29]:
fruits.index

Index(['apples', 'oranges', 'bananas'], dtype='object')

In [31]:
fruits + 2

apples     12
oranges     8
bananas     5
dtype: int64

In [33]:
fruits = fruits + 2

In [34]:
print(fruits)

apples     12
oranges     8
bananas     5
dtype: int64

In [35]:
print(np.exp(fruits))

apples     162754.791419
oranges      2980.957987
bananas       148.413159
dtype: float64

In [36]:
print(np.sqrt(fruits))

apples     3.464102
oranges    2.828427
bananas    2.236068
dtype: float64

In [37]:
print(np.power(fruits, 3))

apples     1728
oranges     512
bananas     125
dtype: int64

In [38]:
series_with_mixed_val = pd.Series(data=[1,2,"apple","banana"])

In [39]:
series_with_mixed_val

0         1
1         2
2     apple
3    banana
dtype: object

In [40]:
series_with_mixed_val = series_with_mixed_val * 2

In [42]:
# From the output of this series the str values are doubled (as per expected behavior)
series_with_mixed_val

0               2
1               4
2      appleapple
3    bananabanana
dtype: object